* {
  box-sizing: border-box;
}


html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  
}

body {
  margin: 0;
  padding: 0 1.5rem;
  background-color: #1F1B24;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

svg {
  display: inline-block;
  vertical-align:top;
}

.map-container{
  height: 500px;
  width: 1195px;
  height: 470.21px;
  top: 171px;
  left: 170px;


}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.widgets-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-container{
  height: 297px;
  width: 276px;
  top: 615px;
  left: 147px;
  border-radius: 12px;
  color: #1F1B24;
  background-color: white;
  border-width: 1.5px;
  border-color: #F9F9F9;
  padding: 10px;
  margin: 10px;


}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.search{
  height: 35px;
  width: 128px;
  border-radius: 4px;
  border-width: 0;
  padding-left: 10px;
  font-family: roboto;
  font-weight: 500;
  font-size: 18px;
  color:  rgba(32, 201, 151, 0.7);
  background-color:#1F1B24;
  left: 1231px;
  top: 136px;
}

.settings-icon{
  left: 96.46px;
  right: 2.15px;
  top: 13.96px;
  bottom: 84.08px;
  color: #BDBDBD;
  height: 20px;
  width: 20px;
  margin-top: 8px;
  margin-left: 15px;
}

.drop-list{
  width: 170px;
  padding: 3px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.map-icon{
  width: 23px;
  height: 20.62px;
  left: 565px;
  top: 493px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-secton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.button-container{
  display: flex;
  flex-direction: row;
  width: 185px;
  height: 28px;
  left: 126px;
  top: 123px;
  border-bottom: 2px solid #BCBBB7;;

}

.button{
  left: 146px;
  top: 126px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 94px;
  height: 27px;
 
}

.off-btn{
  background-color: #010101;
  opacity: 0.7;
  
}

.on-btn{
  background-color: #1F1B24;
  
}




