.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202020;
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    
}

.names{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 10px;
    color: #FFFFFF;
}
span{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 5px;
    line-height: 10px; 
    color: #FFFFFF;
}

.status-parent-bar{
    width: 49px;
    height: 2px;
    left: 7.33px;
    top: 36px;
    background: #FF0000;
    border-radius: 15px;
}
